.header {
    min-height: 218px;
    padding: 60px 0 47px 0;
    &__title {
        margin: 0 auto;
        display: block;
        max-width: 347px;
        &:hover {
            text-decoration: none;
        }
        h1 {
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: 900;
            color: #000000;
            text-align: center;
        }
    }
}